<h1>자유게시판</h1>
<table style='border: 1px solid black' width='60%'>
<tr>
  <th>번호</th>
  <th>제목</th>
  <th>글쓴이</th>
</tr>
<%
for (var i = 0; i < rows.length; i++) {
%>
  <tr>
    <td><%= rows[i].no %></td>
    <td><%= rows[i].title %></td>
    <td><%= rows[i].writer %></td>
  </tr>
<%
}
%>
</table>
<a href='writeForm.do'>글쓰기</a>